

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
    Created on : 22-feb-2015, 16:48:23
    Author     : Javier Gallego
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}
#central{
    display: flex;
    flex-flow: row wrap-reverse;
}
#central *{
    
}
#central>section{
    flex: 3 1 600px;

}
#galeria-productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.item-tienda{
    flex: 0 1 280px;
    align-content: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    border-radius: 5px;
    overflow: hidden;
}
.item-tienda td{
    padding: 3px;
}
.foto-item-tienda{
    overflow: hidden;
    height: 200px;
}
.foto-item-tienda img{
    width: 100%;
}
#central>aside{
    flex: 1 1 300px;
}
.boton-comprar{
    color: #fff;
    font-size: 16px;
    padding: 14px;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: rgb(234, 153, 32);
    background: -moz-linear-gradient(90deg, rgb(234, 153, 32) 30%, rgb(244, 163, 42) 70%);
    background: -webkit-linear-gradient(90deg, rgb(234, 153, 32) 30%, rgb(244, 163, 42) 70%);
    background: -o-linear-gradient(90deg, rgb(234, 153, 32) 30%, rgb(244, 163, 42) 70%);
    background: -ms-linear-gradient(90deg, rgb(234, 153, 32) 30%, rgb(244, 163, 42) 70%);
    background: linear-gradient(0deg, rgb(234, 153, 32) 30%, rgb(244, 163, 42) 70%);
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
    text-decoration: none;
    display: block;
    text-align: center;
}

.tabla-tienda {
    margin:0px;padding:0px;
    width:100%;
    /*box-shadow: 10px 10px 5px #888888;*/
    border:1px solid #ffd4aa;
    margin: 0 auto;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.tabla-tienda table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.tabla-tienda tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.tabla-tienda table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.tabla-tienda table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.tabla-tienda tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.tabla-tienda tr:hover td{

}
.tabla-tienda tr:nth-child(odd){ background-color:#f9b97c; }
.tabla-tienda tr:nth-child(even)    { background-color:#ffffff; }.tabla-tienda td{
    vertical-align:middle;


    border:1px solid #ffd4aa;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:10px;
    font-size:12px;
    font-family:Verdana;
    font-weight:normal;
    color:#000000;
}.tabla-tienda tr:last-child td{
    border-width:0px 1px 0px 0px;
}.tabla-tienda tr td:last-child{
    border-width:0px 0px 1px 0px;
}.tabla-tienda tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.tabla-tienda tr:first-child td{
    background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
    background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

    background-color:#ff7f00;
    border:0px solid #ffd4aa;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Verdana;
    font-weight:bold;
    color:#ffffff;
}
.tabla-tienda tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
    background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

    background-color:#ff7f00;
}
.tabla-tienda tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.tabla-tienda tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

h1{
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid #ff7f00;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #ff7f00;
}
header{
    height: 100px;
    line-height: 100px;
    background-color: #f9b97c;
    margin-bottom: 20px;
    overflow: hidden;
}
header img{
    height: 100px;
}
.mitad{
    width: 40%;
    float: left;
    padding: 2%;
}

input{
    padding: 5px;
    margin: 10px;
}

.totalprecio{
    font-weight: bold;
    
}
.ok-paypal form{
    text-align: center;
}

.menu-principal li a{
    font-weight: bold;
    display: inline;
    text-decoration: none;
    color: white;
}
.logo{
    float: left;
    margin-left: 60px;
}
.menu-principal{
    float: right;
    display: inline;
    margin-right: 60px;
}
.menu-principal li{
    display: inline;
    margin-left: 20px;
}